/* navbar editing */
.navbar-custom {
    /* background-color:rgba(146, 185, 140, 0.89);
    
    background-image: url('../../../media/collections/navbar.png'); */
    background-color:rgba(255, 255, 255, 0.8989);

}

.navbar-text {
    background-color: rgb(38, 201, 89);
    color:rgb(255, 255, 255)!important;
    height:40px;
    margin-top: 1px;
    padding-top:4px;
    margin-left:2px;
    margin-right:2px;
    border-radius: 15px;
    border:rgb(255, 255, 255);
    border-style: solid;
    align-items: center;
    vertical-align: middle;
}
.navbar-text:hover {
    background-color: rgb(30, 157, 70);
    color:rgb(240, 232, 232)!important;
    height:40px;
    margin-top: 1px;
    padding-top:4px;
    margin-left:2px;
    margin-right:2px;
    border-radius: 15px;
    border:rgb(240, 232, 232);
    border-style: solid;
    align-items: center;
    vertical-align: middle;
}

#navbar > ul > li.nav-item.dropdown > ul {
    background-color: rgba(250, 240, 230,0);
    /* opacity:0; */
    border:#FAF0E6;
    width:50%;
 }

.navbar-ul{
    border-radius: 20px;
    height:50px;
    /* margin-top:300px; */
    /* padding-top:0px; */
    background-color:#FAF0E6;
    width:100%;
    height:auto;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:5px;
    text-align:center;
    border-color:rgb(38, 201, 89);
    border-style: solid;

}
/* end navbar editing */

/* hero */
.margin-top-hero{
    margin-top:220px;
    padding-top: 120px;
    background-color: rgb(38, 201, 89);
}

/* page editing */
.bg-page-home {
    background-color: rgba(252, 255, 56, 0.386);
    /* border-radius: 20px; */
    padding-left:100px;
    padding-right: 100px;
    /* padding-top:20px; */
    height: auto;
}
.button-design{
    background-color: rgb(38, 201, 89); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button-design:hover{
    background-color: rgb(30, 157, 70);
    color:rgb(240, 232, 232)!important;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bg-white-page{
    /* background-color: rgba(154, 158, 153, 0.61); */
    /* background-image: url('../../../media/collections/background_product.png'); */
    /* border-radius: 85% / 0 0 20% 100%; */
    background-color: white;
}
.bg-sofa{
    background-image: url('../../../media/collections/background_sofa.png');


}
.img-product{
       /* background-color: rgba(154, 158, 153, 0.61); */
    background-image: url('../../../media/collections/background_product.png');
    /* border-radius: 85% / 0 0 20% 100%; */
    /* background-color: white;  */
}

@media only screen and (max-width:1800px) {
    .bg-page-home2 {
       padding-left: 100px;
       padding-right: 100px;
       background-color: rgba(252, 255, 56, 0.386);
    }
 }
 
@media only screen and (max-width: 600px) {
    .bg-page-home2 {
       padding-left: 0;
       padding-right: 0;
       background-color: rgba(252, 255, 56, 0.386);
    }
 }

 


.text-font{
    color:rgb(128, 78, 8);

}

.full-content{

        max-width: 100%;
        height: 100%;
        object-fit: cover;

}

.image-ellipse{
        /* background-color: #45597e; */
        height: 300px;
        width: 500px;
        border-radius: 40px;
        /* margin-top:20px;  */
        margin-bottom:20px; 
}

#content > div.container.crx-grid > div > div:nth-child(1){
font-size:16px;
}
body{
    background-image: url('../../../media/collections/white_hexa/19449741.jpg');
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* 

footer*/

.footer-custom {
     /* background-color:rgba(146, 185, 140, 0.89); */
    
    background-image: url('../../../media/collections/footer.png'); 
    /* background-color:rgba(255, 255, 255, 0.8989); */

}
.color-link a:link{
    color:rgb(248, 248, 220);
    text-decoration:none;
}
.color-link a:visited {
    color: rgb(248, 248, 220);
    text-decoration:none;
}

  /* mouse over link */
.color-link a:hover {
    color: rgb(211, 205, 205);    
  }

.color-link a:active {
    color: rgb(196, 196, 190);
}

.size-picture{
    width:100%;
    height:100%;
}